<% layout('layouts/boilerplate') %>

<div style="text-align: center;">
<h1>Dashboard</h1>
</div >
        <div class="row rounded">
            
          <div class="">
            <table class="table">
              <thead style="background-color: aqua;" >
              <tr>
                <th class="idd" scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Details</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>  
            </thead>
                <div class="bg-light mb-1 border-primary mt-3 rounded">
                    <% for(let student of applicant) {%>

                    <h6 class="text-dark .bg-white">
            <tr class="border border-success" style="background-color: rgb(244, 228, 53);" >
                <td class="border border-success idd" >
                    <%= student.id %>
                </td>
                <td class="border border-success">
                    <%= student.first_name %>
                </td>
                <td class="border border-success"><a class="link-primary" href="/application/<%= student.id %>">Details
                    </a>
                </td>               
                <td class="border border-success">
               <p> 
                 <% const getStatus = () => {
                    let st;
                      if(student.approve[0] !== undefined) {
                      st =student.approve[0].status
                    } else {
                      st = "Incomplete"
                    }
                    return st;
                 }
                  %> 
                  
                  <%= getStatus() %> 
              
                </p>
                </td>
                <td class="border border-success" >
                  <%= student.createAt %>
              </td> 
                <td class="border border-success">
                  <form
                  action="/delete/<%= student._id%>%>?_method=DELETE"
                  method="POST">
                  <button onclick="return confirm(`Are you sure you want to delete Applicant:- <%=student.first_name %> <%=student.last_name %>?`);" class="btn btn-danger"> Delete</button>
                  </form>
                </td>   
                     
                <% } %>
            </tr>
            </table>
          </div>
        
        
        
        </div>
        