<% layout('layouts/boilerplate') %>

  <style>
    .a {
      background-color: rgba(0, 255, 132, 0.306);
    }

    .Approved {
      background-color: #4dffff !important;
      color: antiquewhite;
      text-align: center;

    }

    .Incomplete {
      background-color: gray !important;
      text-align: center;
      color: antiquewhite;
    }

    .Rejected {
      background-color: #ff0000 !important;
      text-align: center;
    }
  </style>

  <div style="text-align: center;">
    <h1 class="dash">Dashboard</h1>
  </div>

  <div class="a row rounded">
    <div class="border border-success">
      <table class="table p-0 border border-success">
        <thead style="background-color: aqua;" class="border border-success">
          <tr class="border border-success">
            <th class="idd col border border-success" class="border_a">Id</th>
            <th scope="col border border-success" class="border_a">Name</th>
            <th scope="col border border-success" class="border_a">Details</th>
            <th scope="col border border-success" class="border_a">Status</th>
            <th scope="col border border-success" class="border_a">Date</th>
            <th scope="col border border-success" class="border_a">Time</th>
            <th scope="col border border-success" class="border_a">Action</th>
          </tr>
        </thead>
        <div class="bg-light mb-1 border-primary mt-3 rounded">
          <% for(let student of applicant) {%>

            <h6 class="text-dark .bg-white">
              <tr class="border border-success" style="background-color: yellow;">
                <td class="border border-success idd">
                  <%= student.id %>
                </td>
                <td class="border border-success">
                  <%= student.first_name %>
                </td>
                <td class="border border-success"><a class="link-primary" href="/application/<%= student.id %>">Details
                  </a>
                </td>

                <% const getStatus=()=> {
                  let st;
                  if(student.approve[0] !== undefined) {
                  st =student.approve[0].status
                  } else {
                  st = "Incomplete"
                  }
                  return st;
                  }
                  %>


                  <td class="<%= getStatus() %>">

                    <p>
                      <%= getStatus() %>
                    </p>
                  </td>




                  <td class="border border-success">
                    <%= student.createAt.toLocaleDateString() %>

                  </td>
                  <td class="border border-success">

                    <%= student.createAt.toLocaleTimeString() %>
                  </td>



                  <td class="border border-success">
                    <form action="/delete/<%= student._id%>%>?_method=DELETE" method="POST">
                      <button
                        onclick="return confirm(`Are you sure you want to delete Applicant:- <%=student.first_name %> <%=student.last_name %>?`);"
                        class="btn btn-danger"> Delete</button>
                    </form>
                  </td>

                  <% } %>
              </tr>
      </table>
    </div>
  </div>